<%- include('partials/header') -%>

<main class="container pt-3">
    <div class="container">
        <div class="container text-center my-4">
            <h1>SEO Buddy </h1>
            <p>A tool that helps SEO professionals collaborate on SEO projects.</p>
        </div>
    </div>

    <div class="row justify-content-around mt-5">
        <div class="w-100"></div>
        <a href="/login" class="col-3 btn btn-secondary"> Login</a>
        <div class="w-100 pb-3"></div>
        <a href="/signup" class="col-3 btn btn-secondary"> Signup</a>
    </div>

    <div class="container">
        <div class="container text-center my-5">
            <h2>Profuct Features:</h2>
        </div>
    </div>


    <div class="container">
        <div class="row row-cols-2">
          <div class="col">
            <img src="/imgs/" class="img-thumbnail" alt="">
          </div>
          <div class="col">
            <img src="/imgs/" class="img-thumbnail" alt="">
          </div>
          <div class="col">
            <img src="/imgs/" class="img-thumbnail" alt="">
          </div>
          <div class="col">
            <img src="/imgs/" class="img-thumbnail" alt="">
          </div>
        </div>
      </div>
   
   
</main>
    

<%- include('partials/footer') -%>