<!DOCTYPE html>
<%- include('partials/header') -%>

<main class="container pt-3">
    <div class="container">
        <div class="container text-center my-4 has-bg-img">
            <h1>Mint SEO </h1>
            <p>A tool that seamlessly stupports SEO professionals collaborating on SEO projects together.</p>
        </div>
        <img src="/images/assign task.webp" class="img-fluid bg-img" alt="">
    </div>
</main>
    

<%- include('partials/footer') -%>