<%- include('partials/logged-in-nav') -%>

<div class="container">
<div class="col mt-3">
  <!-- <div class="d-flex flex-row p-2"> -->
      
<div class="container mt-0">
  <div class="row mt-0">
    <div class="col">
      <ul class="row list-unstyled">
        <% for(let i=0; i<teamMembersFromCollection.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/profile/<%= teamMembersFromCollection[i]._id%>">
              <p> <%= teamMembersFromCollection[i].name%> </p>
            </a>
          </li>
        <% } %>
        </ul>
    </div>

          <!-- <li class="col-6 justify-content-between mt-5">
            <div class="card dms-4">
              <ul class="list-group">
                <li class="list-group-item" id="teamMembers">
                  <strong>Team: </strong> 
                  <a href="#" class="text-decoration-none fw-bold text-primary">
                    <p> 'this works'</p>
                  </a>
                </li>
              </ul> 
            </div> -->



            <a href="#">
              <p class="" src="#">
            </a>
          </li>
   
        </ul>
    </div>

    <div class="col col-md-2 justify-content-end align-items-end">
        <a href="/logout" class="col-7 btn btn-secondary">Logout</a>
    </div>
  </div> 
</div>
</div>
<%- include('partials/footer') -%>

<!-- Need to grab the teamMembers Id number and push them into an array. Then a card needs to be created for every item in the array that includes all the information 
from that card -->

</div>